/* Header */
header {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  height: 60dvh;
  background: linear-gradient(135deg, var(--gk-primary2),  var(--gk-primary1));
  color: var(--gk-white);
  padding: 0 20px;
}
header h1 {
  font-size: clamp(1.8rem, 6vw, 3.25rem);
  margin-bottom: -.9rem;
}
header p {
  font-size: 1.35rem;
  margin-bottom: 1.5rem;
}
header a {
  background: var(--gk-secondary1);
  color: var(--gk-gray);
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.2s;
}
header a:hover {
  background: var(--gk-secondary2);
  transform: scale(1.05);
  cursor: pointer;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: .75rem;
}

/* Sections */
.project-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}
.project-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: -10px; 
}
.project-section h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem;
}
.project-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--gk-gray);
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Images */
.project-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}
.project-images img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  max-height: 150px;
  object-fit: cover; 
  object-position: center;
}
.project-images img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
  cursor: pointer;
}

#image-popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: flex-start;
  padding-top: 3vh;
  z-index: 9999;
}

.popup-container {
  position: relative;
  display: inline-block;
  max-width: 80vw;
  max-height: 80vh;
}

#popup-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.popup-title, .popup-close {
  position: absolute;
  color: var(--gk-white);
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s;
  user-select: none;
}

.popup-arrow {
  position: absolute;
  top: 58.5%; 
  transform: translateY(-50%);
  font-size: 3.5rem;
  color: rgba(255,255,255,0.65);
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
  opacity: 0;
  z-index: 10;
}

.popup-container:hover .popup-title,
.popup-container:hover .popup-close,
.popup-container:hover .popup-arrow {
  opacity: 1;
}

.popup-title {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.3rem;
}

.popup-close {
  top: 5px;
  right: 20px;
  font-size: 2.3rem;
  cursor: pointer;
}

.popup-arrow.left { left: 50px; }
.popup-arrow.right { right: 50px; }

.popup-arrow:hover { color: rgba(255,255,255,1.0); }

/* Back Button */
.back-btn {
  display: block;
  max-width: 200px;
  margin: 0 auto 60px;
  text-align: center;
  background: var(--gk-secondary1);
  color: var(--gk-gray);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.2s;
  text-decoration: none;
}
.back-btn:hover {
  transform: scale(1.05);
  background: var(--gk-primary2);
}
