.gk-popup-panel {
    position: absolute;
    inset: 0; 
    z-index: 1;
    pointer-events: none;

    visibility: hidden;

    opacity: 1;

    transform: translateY(100px);
    transition: transform 620ms var(--gk-dock-ease), visibility 0s linear 620ms;
    will-change: transform;
}

.gk-popup-panel[data-state="open"] {
    pointer-events: auto;
    visibility: visible;

    transform: translateY(0);
    transition: transform 620ms var(--gk-dock-ease), visibility 0s linear 0s;
}

.gk-popup-panel__content {
    height: 100%;
    overflow: auto;

    background: var(--gk-popup-bg);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    padding-top: var(--gk-popup-h);
    box-sizing: border-box
}

.gk-popup-panel__pad {
    padding: 18px clamp(16px, 4vw, 40px);
}
